.login-form {
  width: 400px;
  /* margin: 0px auto !important; */
  background: linear-gradient(135deg, #e2e2e4, #c2c2c4);
  /* align-items: center; */
  /* padding: 30px !important; */
  height: 55vh;
  /* vertical-align: middle; */
  border-radius: 32px;
  /* text-align: left; */
  text-align: center;
  box-shadow: 4px 4px 8px #848486, -4px -4px 8px #fcfcfe;
}

.login-body {
  height: 100vh;
  /* background-color: #a5d0f8; */
  background: linear-gradient(135deg, #c2c2c4, #e2e2e4);
  /* padding-top: 100px; */
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-block {
  margin-top: 40px;
}

.login-form h1 {
  /* margin: 0 37% !important; */
  font-family: "Ubuntu", sans-serif;
  margin: 32px auto;
  color: #1da1a6;
  font-weight: 600;
  text-shadow: 4px 4px 8px #848486, -4px -4px 8px #fcfcfe;
}

.btn-group {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  display: flex;
  margin: 16px;
  align-items: center;
  justify-content: center;
}

.button {
  width: 150px;
  /* border: 1px solid #1da1a6; */
  padding: 7px 12px;
  /* text-align: center; */
  text-decoration: none;
  font-size: 18px;
  /* font-weight: 500; */
  cursor: pointer;
  border-radius: 32px;
  height: 42px;
  margin: 12px 5px;
  color: #1da1a6;
  box-shadow: 4px 4px 8px #848486, -4px -4px 8px #fcfcfe;
}
/* .button:hover {
  box-shadow: 6px 6px 10px #848486, -6px -6px 10px #fcfcfe;
  color: #01858a;
} */

.active_button {
  /* background-color: #1da1a6;
  color: white; */
  box-shadow: inset 4px 4px 8px #848486, inset -4px -4px 8px #fcfcfe;
  font-size: 16px;
  padding: 8px 12px;
  color: #01858a;
}

.form_group {
  margin: 16px auto !important;
  width: 340px !important;
  /* width: 340px; */
  height: 42px;
  /* margin: 16px; */
  background: none;
  font-size: 18px;
  color: #777;
  box-shadow: inset 4px 4px 8px #848486, inset -4px -4px 8px #fcfcfe;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding-right: 100px;
  justify-content: center;
}
.form_control {
  background: none;
  height: 42px;
  border: none;
  outline: none;
  padding-left: 10px;
  color: #777;
  font-size: 14px;
}
.btn {
  background: none;
  width: 240px;
  border-radius: 32px;
  color: #1da1a6;
  border: none;
  height: 42px;
  font-weight: 600;
  outline: none;
  font-size: 20px;
  box-shadow: 4px 4px 8px #848486, -4px -4px 8px #fcfcfe;
  margin: 16px;
}
.btn:hover {
  box-shadow: 6px 6px 10px #848486, -6px -6px 10px #fcfcfe;
  color: #01858a;
}
.btn:active {
  box-shadow: inset 4px 4px 8px #848486, inset -4px -4px 8px #fcfcfe;
  font-size: 16px;
}

/* #bt {
  width: 240px;
  height: 42px;
  background: none;
  border-radius: 32px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #4f7afe;
  box-shadow: 4px 4px 8px var(--Shadow1), -4px -4px 8px var(--Shadow2);
  margin: 16px;
}
#bt:hover {
  box-shadow: 6px 6px 10px var(--Shadow1), -6px -6px 10px var(--Shadow2);

  color: #1f5aff;
}
#bt:active {
  box-shadow: inset 4px 4px 8px var(--Shadow1),
    inset -4px -4px 8px var(--Shadow2);
  font-size: 16px;
} */
